# Byte-compiled / optimized / DLL files
system/__pycache__/
e_library/__pycache__/
system/migrations/
__pycache__/
# my database file
db.sqlite3
db.txt
index.py
.vscode/
*.py[cod]
*$py.class
.idea/
.vscode/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
# Environments
.env
.venv
env/
venv/