[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-cleanup = "*"
dj-database-url = "*"
django-crispy-forms = "*"
django-extensions = "*"
django-heroku = "*"
django-import-export = "*"
django-otp = "*"
django-otp-twilio = "*"
faker = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
djangorestframework = "*"
tqdm = "*"
django-filter = "*"
django-allauth = "*"

[dev-packages]
pygraphviz = "*"
pylint = "*"

[requires]
python_version = "3.8"

[packages.django-storages]
extras = [ "dropbox",]
