[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-crispy-forms = "*"
django-extensions = "*"
Pillow = "*"
psycopg2 = "*"
Faker = "*"
django-allauth = "*"
django-otp = "*"
qrcode = "*"
django-otp-twilio = "*"
freezegun = "*"
django-two-factor-auth = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
