{% extends 'system/master.html' %}
{% load static %}


{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/books1.png'%}" sizes="144x144" >
<title>{{ title }}</title>
{% endblock head %}

{% block main %}
<div class="container-fluid">
      <div class="row">


         <div class="col-md-5 mb-3">
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     <div class="col">
                        <center>
                           <h4>Book Details</h4>
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <center>
                           <img width="100px" src="{% static 'system/images/imgs/books.png'%}" />
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <hr>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        {% load crispy_forms_tags %}
                        {% crispy form %}
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-md-7 mb-3">
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     <div class="col">
                        <center>
                           <h4>Book Inventory List</h4>
                        </center>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <tbody><br>
                                    {% if object_list %}
                                        {% for object in object_list %}
                                        <a href='{{ object.get_update_url}}'>
                                            <th scope="row">{{ object.pk }}</th>
                                            <td>{{ object.name|title }}</td>
                                            <td>{{ object.author|title }}</td>
                                            <td>{{object.date_of_birth}}</td>
                                        </a><br>
                                        {% endfor %}
                                    {% elif object %}
                                    <a href='{{ object.get_update_url}}'>
                                        <th scope="row">{{ object.pk }}</th>
                                        <td>{{ object.first_name|title }}</td>
                                        <td>{{ object.last_name|title }}</td>
                                        <td>{{object.date_of_birth}}</td>
                                    </a><br>
                                    {% endif %}
                                    </tbody>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <asp:GridView class="table table-striped table-bordered" ID="GridView1" runat="server"></asp:GridView>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {%endblock main%}