{% extends 'system/master.html' %}
{% load static %}

{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/publisher.png'%}" sizes="144x144" >
<title>{{ title }}</title>

{% endblock head %}


{% block main %}
<div class="container">
        <div class="row">

            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body">
 
                        <div class="row">
                            <div class="col">
                                <center>
                                        <h4>Publisher Details</h4>
                                    </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                        <img width="100px" src="{% static 'system/images/imgs/publisher.png' %}" />         
                                    </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        {% comment %} <div class="row">
                        <div class="col-md-4">
                            <label>Publisher ID</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="number" class="form-control" ID="TextBox1" placeholder="ID"></input>
                                    <button class="btn btn-secondary" ID="Button1" Text="Go" >Go</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>Publisher Name</label>
                            <div class="form-group">
                                <input class="form-control" ID="TextBox2"  placeholder="Publisher Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button ID="Button2" class="btn btn-lg btn-block btn-success" runat="server" Text="Add" >Add</button>
                            </div>
                            <div class="col-4">
                                <button ID="Button3" class="btn btn-lg btn-block btn-primary" Text="Update" >Update</button>
                            </div>
                            <div class="col-4">
                                <button ID="Button4" class="btn btn-lg btn-block btn-danger" Text="Delete" >Delete</button>
                            </div>
                        </div>
                    </div> 
                    {% endcomment %}
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                    {%if object %}
                    <div class="modal fade" id="deletemodel" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Publisher <span class="badge badge-danger">{{ object.name|title }}</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    are you sure you want to delete this Publisher?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" name="delAuthor" class="btn btn-primary">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#deletebtn').css('display', '');
                        $("button[name='delAuthor']").on('click', function(e) {
                            $('#bookAuthorForm').append('<input type="hidden" name="Delete" value="{{ object.id }}">');
                            $("#bookAuthorForm").submit();
                        });
                    </script>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-md-7 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <h4>Publisher List</h4>
                        </div>
                        {% if not object %}
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="input-group">
                                <input type="text" name='q' class="form-control mr-1"
                                    value="{{ request.GET.q }}" placeholder="by Name" data-toggle="tooltip"
                                    data-placement="left" title="Tooltip on left"
                                    aria-describedby="searchHelpBlock">
                                <div class="input-group-append">
                                    <button id='id_for_search' type='submit' value=""
                                        class="btn btn-outline-info"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <small id="searchHelpBlock" class="form-text text-muted">
                                Your can search by Name?
                            </small>
                        </div>
                        {%endif%}
                    </div>
</div></div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if object_list %}
                            {% for publisher in object_list %}
                            <a href="{{ publisher.get_update_url }}">{{ publisher.name}}</a>
                            <br>{% endfor %}
                            {% elif object %}
                            <h3>{{ object.name|title}}</h3>
                            {% endif %}
                        </div>
                    </div>

                    {% include 'system/paginate.html' %} 
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock main %}