{% extends 'system/master.html' %}
{% load static %}

{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/publisher.png'%}" sizes="144x144" >
<title>{{ title }}</title>

{% endblock head %}


{% block main %}
<div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
 
                        <div class="row">
                            <div class="col">
                                <center>
                                        <h4>Publisher Details</h4>
                                    </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                        <img width="100px" src="{% static 'system/images/imgs/publisher.png' %}" />         
                                    </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Publisher ID</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" class="form-control" ID="TextBox1" placeholder="ID"></input>
                                        <button class="btn btn-secondary" ID="Button1" Text="Go" >Go</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label>Publisher Name</label>
                                <div class="form-group">
                                    <input class="form-control" ID="TextBox2"  placeholder="Publisher Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button ID="Button2" class="btn btn-lg btn-block btn-success" runat="server" Text="Add" >Add</button>
                            </div>
                            <div class="col-4">
                                <button ID="Button3" class="btn btn-lg btn-block btn-primary" Text="Update" >Update</button>
                            </div>
                            <div class="col-4">
                                <button ID="Button4" class="btn btn-lg btn-block btn-danger" Text="Delete" >Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'system:home' %}"><i class="fas fa-arrow-left"></i> Back to Home</a><br>
                <br>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                        <h4>Publisher List</h4>
                                    </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <tb class="table table-striped table-bordered" ID="GridView1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}