{% extends 'system/master.html' %}
{% load static %}
{% load humanize %}

{% block main %}
<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-5 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col text-center">
              <h4>Book Issuing</h4>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <img
                width="100px"
                src="{% static 'system/images/imgs/books.png'%}"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col">
              {% load crispy_forms_tags %}
              {% crispy form %}
              {% if object %}
              <div
                class="modal fade"
                id="deletemodel"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Issue
                        <span class="badge badge-danger"
                          >{{ object|title }}</span
                        >
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      are you sure you want to delete this Issue?
                    </div>
                    <div class="modal-footer">
                      <form
                        method="post"
                        action="{% url 'system:bookissuingdelete' pk=object.pk %}"
                      >
                        {% csrf_token %}
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          value="Confirm"
                        >
                          Yes
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 mb-3">
      <form method="GET">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <h4>Issue {% if object %}Object {% else %}List{% endif %}</h4>
              </div>
              {% include 'system/search.html' %}
            </div>
            <div class="row">
              <div class="col">
                <hr />
              </div>
            </div>
            <div class="row">
              {% if object_list %}
              {% for issue in object_list %}
              <div class="col-12 mb-2">
                    <div class="col-md-10">
                      <div class="row pt-3">
                        <div class="col-12">
                          <h3 style="font-weight: bold; font-size: x-large" {% if issue.due_date_end %}class="text-danger"{% endif %}>
                            {{ issue.user }} <i class="fas fa-arrow-circle-right"></i> {{ issue.book }}
                          </h3>
                          <p>Date: {{ issue.date}}</p>
                          <p>Due Date: {{ issue.due_date}}</p>
                          <p><a class="text-decoration-none mr-5" href="{% url 'system:membermanagement' %}?username={{ issue.user }}">User details</a>  <a class="text-decoration-none ml-5" href="{% url 'system:bookissuingupdate' issue.pk %}">Edit</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% elif object %}
                <div class="col-12 mb-2">
                  <div class="col-md-10">
                    <div class="row pt-3">
                      <div class="col-12">
                        <h3 style="font-weight: bold; font-size: x-large" {% if issue.due_date_end %}class="text-danger"{% endif %}>
                          {{ issue.user }} <i class="fas fa-arrow-circle-right"></i> {{ issue.book }}
                        </h3>
                        <p>Date: {{ issue.date}}</p>
                        <p>Due Date: {{ issue.due_date}}</p>
                        <p><a class="text-decoration-none mr-5" href="{% url 'system:membermanagement' %}?username={{ issue.user }}">User details</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
              <div class="col">{% include 'system/paginate.html' %}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock main%}
