{% extends 'system/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/writer.png'%}" sizes="144x144" >
<title>{{ title }}</title>

{% endblock head %}

{% block main %}

<div class="container-fluid">
        <div class="row">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                <h4>Author List</h4></div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="input-group">
                                        <input type="text" name='q' class="form-control mr-1" value="{{ request.GET.q }}" placeholder="by Name"  data-toggle="tooltip" data-placement="left" title="Tooltip on left" aria-describedby="searchHelpBlock">
                                        <div class="input-group-append">
                                            <button id='id_for_search' type='submit' value="" class="btn btn-outline-info"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                    <small id="searchHelpBlock" class="form-text text-muted">
                                      Your can search by Name?
                                    </small>
                                </div>
                                </div>
                            </div>
                        </div>
 
                       
 
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if object_list %}
                                {% for author in object_list %}
                                    <h3>{{ author.id}}, {{ author.first_name}} --- {{ author.last_name}}</h3><br>
                                    <a href="{{ author.get_update_url }}">{{ author.get_update_url}}</a>
                                {% endfor %}
                                {% elif object %}
                                <h3>{{ object.first_name}}</h3>
                                {% endif %} 
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <!-- More on https://docs.djangoproject.com/en/3.0/topics/pagination/ -->
                                {% if is_paginated %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item {% if page_obj.has_previous is False %}disabled{% endif %}">
                                            <button type="submit" class="page-link" name="page" value="{% if page_obj.has_previous %}1{% endif %}">First
                                            </button>
                                        </li>
                                        <li class="page-item {% if page_obj.has_previous is False %}disabled{% endif %}">
                                            <button type="submit" class="page-link" name="page" value="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></button>
                                        </li>

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                              <li class="page-item active"><span class="page-link">{{ num }}<span class="sr-only">(current)</span>
                                              </span></li>
                                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                              <li class="page-item"><button type="submit" class="page-link" name="page" value="{{ num }}" >{{ num }}</button></li>
                                            {% endif %}
                                        {% endfor %}

                                        <li class="page-item {% if page_obj.has_next is False %}disabled{% endif %}"><button type="submit" class="page-link" name="page" value="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{%endif%}" aria-label="Next"><span aria-hidden="true">&raquo;</span></button></li>
                                        <li class="page-item {% if page_obj.has_next is False %}disabled{% endif %}"><button type="submit" class="page-link" name="page" value="{% if page_obj.has_next %}{{ page_obj.paginator.num_pages }}{%endif%}">Last</button></li>
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
 
 
            </div>
 
        </div>
    </div>

{% endblock main %}