{% extends 'system/master.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>{{ title }}</title>

{% endblock head %}


{% block main %}
<section class="card" data-aos="flip-up" data-aos-duration="1000">
   <img src="{% static 'system/images/imgs/home-bg.jpg' %}" class="img-fluid"/>
</section>
<section>
	<div class="container">
		<div class="row">
         <div class="col-12 text-center">
               <h2>Our Features</h2>
               <p><b>Our 3 Primary Features -</b></p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 text-center" data-aos="fade-up-right" data-aos-duration="1500">
               <img width="150px" src="{% static 'system/images/imgs/digital-inventory.png' %}"/>
               <h4>Digital Book Inventory</h4>
               <p class="align-middle">
                  {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endblocktrans %}
               </p>
         </div>
         <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1500">
               <img width="150px" src="{% static 'system/images/imgs/search-online.png' %}"/>
               <h4>Search Books</h4>
               <p class="align-middle">
                  {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endblocktrans %}
               </p>
         </div>
         <div class="col-md-4 text-center" data-aos="fade-up-left" data-aos-duration="1500">
               <img width="150px" src="{% static 'system/images/imgs/defaulters-list.png' %}"/>
               <h4>Defaulter List</h4>
               <p class="align-middle">
                  {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endblocktrans %}
               </p>
         </div>
      </div>
   </div>
</section>
<section data-aos="flip-down" data-aos-duration="1000">
   <img src="{% static 'system/images/imgs/in-homepage-banner.jpg' %}" class="img-fluid"/>
</section>
<section>
   <div class="container-fluid">
      <div class="row">
         <div class="col-12 text-center"   data-aos="example-anim3">
               <h2>Our Process</h2>
               <p><b>We have a Simple 3 Step Process</b></p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 text-center" data-aos="fade-up-right" data-aos-duration="1500">
               <img width="150px" src="{% static 'system/images/imgs/sign-up.png' %}" />
               <h4>Sign Up</h4>
               <p class="align-middle">
                  {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endblocktrans %}
               </p>
         </div>
         <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="1500">
               <img width="150px" src="{% static 'system/images/imgs/search-online.png' %}"/>
               <h4>Search Books</h4>
               <p class="align-middle">
                  {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endblocktrans %}
               </p>
         </div>
         <div class="col-md-4 text-center" data-aos="fade-up-left" data-aos-duration="1500">
               <img width="150px" src="{% static 'system/images/imgs/library.png' %}"/>
               <h4>Visit Us</h4>
               <p class="align-middle">
                  {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endblocktrans %}
               </p>
         </div>
      </div>
   </div>
</section>
{% endblock main %}
