{% load static %}
{% load i18n %}
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- bootstrap css -->
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'system/bootstrap/css/bootstrap.min.css'%}"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static 'system/bootstrap/css/bootstrap.min.default.css'%}">


	<!-- datatables css -->
	<link rel="stylesheet" type="text/css" href="{% static 'system/datatables/css/datatables.min.css'%}">
	<!-- fontawesome css -->
	<link rel="stylesheet" type="text/css" href="{% static 'system/fontawesome/css/all.css'%}">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static 'system/css/master.css' %}">



	<!-- AOS CSS -->
	<!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->

	<!-- jquery -->
	{% comment %} <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> {% endcomment %}
	<link rel="icon" href="{%static 'system/images/imgs/books.png'%}" sizes="144x144" >

	{% block head %}
	{% endblock head %}

	<!-- test messages -->

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light  m-0 p-0">
		<a class="navbar-brand" href="{% url 'system:home' %}">
			<img src="{% static 'system/images/imgs/books.png' %}" width="30" height="30">
			E-Library
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'system:home' %}">{% trans 'Home' %}</a>
				</li>
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'system:about'%}">{% trans 'About' %}</a>
				</li>
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'system:terms'%}">Terms</a>
				</li>
			</ul>

			<ul class="navbar-nav">
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'system:viewbooks'%}">View Books </a>
				</li>
				{% if user.is_authenticated is False %}
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'account:signin' %}">Sign In</a>
				</li>
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'account:signup' %}">Sign Up</a>
				</li>
				{% elif user.is_authenticated is True %}
				<li class="nav-item active align-self-center">
					<a class="nav-link btn-outline-danger" href="{% url 'account:logout' %}">Logout</a>
				</li>
				<li class="nav-item active align-self-center">
					<a class="nav-link" href="{% url 'account:update' username=user.username %}">
						Hello, {% if user.is_admin %}
						Admin
						{% else %}
							{{ user.get_short_name|default:"user"|capfirst }}
						{% endif %}
					</a>
				</li>
				{% endif %}
				<li class="nav-item active d-flex flex-fill align-self-center">
					<div class="align-self-center "><form action="{% url 'set_language' %}" class="form-inline" method="post">{% csrf_token %}
				    <input name="next" class="form-control" type="hidden" value="{{ redirect_to }}">
			        {% get_current_language as LANGUAGE_CODE %}
			        {% get_available_languages as LANGUAGES %}
			        {% get_language_info_list for LANGUAGES as languages %}
			        {% for language in languages %}
			            {% if language.code != LANGUAGE_CODE %}
			            <div class="custom-control custom-switch align-middle">
						  <input class="custom-control-input" name="language" onchange="this.form.submit();" type="checkbox" id="flexSwitchCheckChecked" value="{{ language.code }}">
						  <label class="custom-control-label" for="flexSwitchCheckChecked">{{ language.name_local }}</label>
						</div>
						{% endif %}
			        {% endfor %}
					</form></div>
				</li>
				{% comment %}
				<li class="nav-item active">
					{% load tz %}
					{% get_current_timezone as TIME_ZONE %}
					<form action="{% url 'set_timezone' %}" method="POST">
						{% csrf_token %}
						<label for="timezone">Time zone:</label>
						<select name="timezone">
							{% for tz in timezones %}
							<option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
							{% endfor %}
						</select>
						<input type="submit" value="Set">
					</form>
				</li>
				{% endcomment %}
			</ul>
		</div>
	</nav>
<!-- main block  -->
	<main id="mainblock">
	{% if messages %}
	    {% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
				{{ message|safe }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			</div>
	    {% endfor %}
	{% endif %}

		{% block main %}
		{% endblock main %}
	</main>
	<footer>
		{% if user.is_superuser %}
		<div id="footer1" class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-sm-12 text-center">
					<p>
						<a id="linkbtn2" class="footerlinks" href="{% url 'system:authormanagement' %}">Author Management</a>&nbsp;
						<a id="linkbtn3" class="footerlinks" href="{% url 'system:publishermanagement' %}">Publisher Mangement</a>&nbsp;
						<a id="linkbtn4" class="footerlinks" href="{% url 'system:bookinventory' %}">Book Inventory</a>&nbsp;
						<a id="linkbtn5" class="footerlinks" href="{% url 'system:bookissuing' %}">Book Issuing</a>&nbsp;
						<a id="linkbtn6" class="footerlinks" href="{% url 'system:membermanagement' %}">Member Management</a>
					</p>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="container-fluid" id="footer2">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 text-center">
					<p class="pt-2" style="color: whitesmoke"><i class="far fa-copyright"></i> All right Reversed. <a class="footerlinks" href="{%url 'system:shyamkumaryadav'%}" target="_blank">Shyamkumar Yadav</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
<!-- bootstrap -->
	<!-- bootstrap jquery -->
	<script type="text/javascript" src="{% static 'system/bootstrap/javascript/jquery-3.4.1.slim.min.js'%}"></script>
	<!-- production ajax from google CDN -->

	<!-- bootstrap popper -->
	<script type="text/javascript" src="{% static 'system/bootstrap/javascript/popper.min.js'%}"></script>
	<!-- bootstrap  -->
	<script type="text/javascript" src="{% static 'system/bootstrap/javascript/bootstrap.min.js'%}"></script>
	<!-- end bootstrap -->
	<!-- master -->
	<script type="text/javascript" src="{% static 'system/javascript/main.js'%}"></script>
	<!-- AOS JS -->
	<!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 <script>
	AOS.init();
	</script> -->

{% block body %}
{% endblock body %}
</html>
