{% extends 'system/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/generaluser.png'%}" sizes="144x144" >
<title>{{ title }}</title>
{% endblock head %}


{% block main %}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-5">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <center>
                        <img width="100px" src="{% static 'system/images/imgs/generaluser.png'%} "/>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <center>
                        <h4>Your Profile</h4>
                        <span>Account Status - </span>
                        <label class="badge badge-pill badge-info" Text="Your status">Active</label>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <hr>
                  </div>
               </div>
                  {% crispy forms %}
            </div>
         </div><br><br>
      </div>
      <div class="col-md-7">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <center>
                        <img width="100px" src="{% static 'system/images/imgs/books1.png' %}"/>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <center>
                        <h4>Your Issued Books</h4>
                        <label class="badge badge-pill badge-info" ID="Label2" Text="your books info"></label>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <td></td>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock main %}