{% extends 'system/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/generaluser.png'%}" sizes="144x144" >
<title>{{ title }}</title>
{% endblock head %}


{% block main %}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-5">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <center>
                        <img width="100px" src="{% static 'system/images/imgs/generaluser.png'%} "/>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <center>
                        <h4>Your Profile</h4>
                        <span>Account Status - </span>
                        <label class="badge badge-pill badge-info" Text="Your status">Active</label>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <hr>
                  </div>
               </div>
                  {% crispy forms %}
            </div>
         </div>
      </div>
      <script>
         $("#submit-id-submit").on('click', function(){
               jQuery(this).remove();
               var example_form = '#userCreationForm';

               $.ajax({
                  url: window.location.href,
                  type: "POST",
                  data: $(example_form).serialize(),
                  success: function(data) {
                     if (!(data['success'])) {
                           // Here we replace the form, for the
                           $(example_form)[0].reset();
                           console.log("hi from succes");
                     }
                     else {
                           // Here you can show the user a success message or do whatever you need
                           console.log("hi from else part");
                           $(example_form).find('.error-message').show();
                     }
                  },
                  error: function () {
                     // $(example_form).find('.error-message').show()
                  }
               });
         });

      </script>

      <div class="col-md-7">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <center>
                        <img width="100px" src="{% static 'system/images/imgs/books1.png' %}"/>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <center>
                        <h4>Your Issued Books</h4>
                        <label class="badge badge-pill badge-info" ID="Label2" Text="your books info"></label>
                     </center>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <td></td>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock main %}