{% extends 'system/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="icon" href="{%static 'system/images/imgs/generaluser.png'%}" sizes="144x144" >
<title>{{ title }}</title>

{% endblock head %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<center>
								<img width="150px" src="{% static 'system/images/imgs/generaluser.png' %}"/>
							</center>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<center>
								<h3>Member Login</h3>
							</center>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr>
						</div>
					</div>
					{% crispy form %}
					<!-- User loging Acction
					<form action="/user_login/" method="post">{% csrf_token %}
						<div class="row">
							<div class="col">
								<label>Member ID</label>
								<div class="form-group">
									<input type="text" Class="form-control" ID="TextBox1" placeholder="Member ID" name='username' required>
								</div>
									<label>Password</label>
								<div class="form-group">
									<input type="password" class="form-control" ID="TextBox2" name="password" placeholder="Password" required>
								</div>
								<div class="form-grupe">
									<input type="submit" class="btn btn-success btn-block btn-lg" id="Button1" value="Login" name="login">
								</div>
							</div>
						</div>
					</form> -->
							<!-- User loging Acction End-->
							<!-- <br>
							<div class="form-group">
								<a href="{% url 'system:signup' %}"><input type="button" class="btn btn-info btn-block btn-lg" id="Button2" value="Sign Up"/></a>
							</div> -->
							<a href="{% url 'system:home' %}"><i class="fas fa-arrow-left"></i> Back to Home</a><br>
			<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock main %}
