{% extends 'system/master.html' %} {% load static %} {% load humanize %}
{% block head %}
<title>{{ title }}</title>
{% endblock head %}

{% block main %}
<form method="GET">
  <div class="container">
    <div class="row py-2">
      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <h1>Book {% if object %}Detils{% else %}List{% endif %}</h1>
              </div>
              {% include 'system/search.html' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr />
          </div>
        </div>
        <div class="row">
          {% if object_list %}
          {% for book in object_list %}
          <div class="col-12 {% if book.today_stock <= 0%}text-muted{% endif %}">
            <div class="card shadow flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                  <p><a class="text-dark text-decoration-none sky-link" href="#{{ book.name|cut:" " }}" id="{{ book.name|cut:" " }}">#</a> {{ book.name}} | {{ book.get_language_display}}</p>
                </h3>
                <div class="mb-1 text-muted">{{ book.publish_date|naturalday}}</div>
                <div class="row">
                  <div class="col-12">
                    by <span style="font-weight: bold">{{ book.author }}</span> ( Author )
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Publisher -
                    <span style="font-weight: bold">{{ book.publish }}</span>
                  </div>
                </div>
                <p class="card-text my-auto">{{ book.description|truncatechars:120 }}</p>
                {% if user.is_superuser %}<a href="{{ book.get_update_url }}" class="text-decoration-none"></a>{% endif %}
                <a href="{{ book.get_detail_url }}" class="text-decoration-none">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-md-block"
                src="{% if book.profile.url %}{{ book.profile.url }}{% endif %}"
                alt="{{ book.name }}"
                
                style="width: 200px; height: 300px;">
            </div>
          </div>
          {% endfor %}
          {% elif object %}
          <a class="text-decoration-none" href={% url 'system:viewbooks' %}><i class="fas fa-arrow-circle-left"></i> Go Back</a>
          <div class="col-12">
            <div class="text-center">
              <img
              class="mb-3 card-img"
              src="{% if object.profile.url %}{{ object.profile.url }}{% endif %}"
              alt="{{ object.name }}"                
              style="width: 300px; height: 450px;border: outset;border-radius: 15px;">
              <div class="card-img-overlay">
                <h5 class="card-title text-primary">{{ object.edition|ordinal }} edition</h5>
              </div>
              <br>
              {% for genre in object.genre.all %}
              <span class="badge badge-primary">{{ genre }}</span>{% endfor %}              
            </div>
                <h3 class="mt-4">
                  <p>{{ object.name}} | {{ object.get_language_display}} </p>
                </h3>
                <div class="text-muted">{{ object.publish_date|naturalday}}</div>
                <div class="col">
                    by <span style="font-weight: bold">{{ object.author }}</span> ( Author )
                <div class="row">
                  <div class="col-12">
                    Publisher -
                    <span style="font-weight: bold">{{ object.publish }}</span>
                    &nbsp;| Total Page -
                    <span style="font-weight: bold">{{ object.page }}</span>
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Cost -
                    <span style="font-weight: bold"
                      >{{ object.cost|intcomma }} &#8377;</span
                    >
                    &nbsp;| Stock -
                    <span style="font-weight: bold"
                      >{% if object.today_stock <= 0%}Not Avalabel{% else %}{{ object.today_stock }}{% endif %}</span
                    >
                  </div>
                </div>
                <br>
                <h5>Description</h5>
                <hr>
                <p class="mb-auto">{{ object.description }}</p>
                {% if user.is_superuser %}<a href="{{ object.get_update_url }}" class="text-decoration-none">Edit</a>{% endif %}
              
          </div>
          {% else %}
              <div class="col">
                <img src="{% static 'no_data.svg' %}" alt="" srcset="">
                <h1 class="text-center">No data {% if request.GET.q %}<a class="text-decoration-none text-muted" href="{{ request.path }}">Clear filter ?</a>{% endif %}</h1>
              </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- More on https://docs.djangoproject.com/en/3.0/topics/pagination/ -->
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li
        class="page-item {% if page_obj.has_previous is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_previous %}1{% endif %}"
        >
          First
        </button>
      </li>
      <li
        class="page-item {% if page_obj.has_previous is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>

      {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
      <li class="page-item active">
        <span class="page-link"
          >{{ num }}<span class="sr-only">(current)</span>
        </span>
      </li>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
      <li class="page-item">
        <button type="submit" class="page-link" name="page" value="{{ num }}">
          {{ num }}
        </button>
      </li>
      {% endif %} {% endfor %}

      <li
        class="page-item {% if page_obj.has_next is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
      <li
        class="page-item {% if page_obj.has_next is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_next %}{{ page_obj.paginator.num_pages }}{% endif %}"
        >
          Last
        </button>
      </li>
    </ul>
  </nav>
  {% endif %}
</form>

{% endblock main %}
