{% extends 'system/master.html' %} {% load static %} {% load humanize %}
{% block head %}
<title>{{ title }}</title>
{% endblock head %}

{% block main %}
<form method="GET">
  <div class="container">
    <div class="row py-2">
      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <h1>Book List</h1>
              </div>
              {% include 'system/search.html' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr />
          </div>
        </div>
        <div class="row">
          {% if object_list %}
          {% for book in object_list %}
          <div class="col-12 {% if book.today_stock < 0%}text-muted{% endif %}">
            <div class="card shadow flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">{{ book.get_language_display}}</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#update">{{ book.name}}</a>
                </h3>
                <div class="mb-1 text-muted">{{ book.publish_date|naturalday}}</div>
                <div class="row">
                  <div class="col-12">
                    Author -
                    <span style="font-weight: bold">{{ book.author}}</span>
                    &nbsp;| Genre -
                    <span style="font-weight: bold"
                      >[{% for genre in book.genre.all %}
                      {% if forloop.counter0 < 3 %}
                          {{ genre }}
                          {% if forloop.last %}{% else %}, {% endif %}
                          {% else %}
                          {% if forloop.last %}...{% endif %}
                          {% endif %}
                        {% endfor %}]</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Publisher -
                    <span style="font-weight: bold">{{ book.publish }}</span>
                    &nbsp;| Page -
                    <span style="font-weight: bold">{{ book.page }}</span>
                    &nbsp;| Edition -
                    <span style="font-weight: bold"
                      >{{ book.edition|ordinal}}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Cost -
                    <span style="font-weight: bold"
                      >{{ book.cost|intcomma }}$</span
                    >
                    &nbsp;| Actual Stock -
                    <span style="font-weight: bold">{{ book.stock }}</span>
                    &nbsp;| Avalabel Stock -
                    <span style="font-weight: bold"
                      >{{ book.today_stock }}</span
                    >
                  </div>
                </div>
                <p class="card-text mb-auto">{{ book.description|truncatechars:120 }}</p>
                {% if user.is_superuser %}<a href="{{ book.get_update_url }}">Continue reading</a>{% endif %}
              </div>
              <img class="card-img-right flex-auto d-none d-md-block"
                data-src="holder.js/200x250?theme=thumb"
                alt="{{ book.name }}"
                src="{% if book.profile.url %}{{book.profile.url }}{%else%}#{% endif %}"
                data-holder-rendered="true"
                style="width: 200px; height: 250px;">
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="row ml-3">
              <div class="col-md-10">
                <div class="row pt-3">
                  <div class="col-12">
                    <h3 style="font-weight: bold; font-size: x-large">
                      {{ book.name}}
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Author -
                    <span style="font-weight: bold">{{ book.author}}</span>
                    &nbsp;| Genre -
                    <span style="font-weight: bold"
                      >[{% for genre in book.genre.all %}
                      {% if forloop.counter0 < 4 %}
                          {{ genre }}
                          {% if not forloop.first %}, {% endif %}
                          {% else %}
                          {% if forloop.last %}...{% endif %}
                          {% endif %}
                        {% endfor %}]</span
                    >&nbsp;| Language -
                    <span style="font-weight: bold"
                      >{{ book.get_language_display}}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Publisher -
                    <span style="font-weight: bold">{{ book.publish }}</span>
                    &nbsp;| Publish date -
                    <span style="font-weight: bold"
                      >{{ book.publish_date|naturalday}}</span
                    >
                    &nbsp;| Page -
                    <span style="font-weight: bold">{{ book.page }}</span>
                    &nbsp;| Edition -
                    <span style="font-weight: bold"
                      >{{ book.edition|ordinal}}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Cost -
                    <span style="font-weight: bold"
                      >{{ book.cost|intcomma }}$</span
                    >
                    &nbsp;| Actual Stock -
                    <span style="font-weight: bold">{{ book.stock }}</span>
                    &nbsp;| Avalabel Stock -
                    <span style="font-weight: bold"
                      >{{ book.today_stock }}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    Description -
                    <span style="font-weight: bold"
                      >{{ book.description }}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <span>{{ book.date|naturaltime|naturalday}} Added</span
                    ><br />
                    <a href="{{ book.get_update_url }}">Edit Book</a>
                  </div>
                </div>
              </div>
              <div class="col-md-2 pr-0">
                <img
                  src="{% if book.profile.url %}{{book.profile.url }}{%else%}#{% endif %}"
                  class="img-fluid"
                  alt=""
                  data-toggle="tooltip"
                  data-placement="left"
                  title="{{ book.rating }}"
                />
              </div>
            </div>
          </div> -->
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- More on https://docs.djangoproject.com/en/3.0/topics/pagination/ -->
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li
        class="page-item {% if page_obj.has_previous is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_previous %}1{% endif %}"
        >
          First
        </button>
      </li>
      <li
        class="page-item {% if page_obj.has_previous is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>

      {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
      <li class="page-item active">
        <span class="page-link"
          >{{ num }}<span class="sr-only">(current)</span>
        </span>
      </li>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
      <li class="page-item">
        <button type="submit" class="page-link" name="page" value="{{ num }}">
          {{ num }}
        </button>
      </li>
      {% endif %} {% endfor %}

      <li
        class="page-item {% if page_obj.has_next is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
      <li
        class="page-item {% if page_obj.has_next is False %}disabled{% endif %}"
      >
        <button
          type="submit"
          class="page-link"
          name="page"
          value="{% if page_obj.has_next %}{{ page_obj.paginator.num_pages }}{% endif %}"
        >
          Last
        </button>
      </li>
    </ul>
  </nav>
  {% endif %}
</form>

{% endblock main %}
