{% extends 'system/master.html' %}

{% block head %}
<link rel="icon" href="#" sizes="144x144" >
<title>{{ title }}</title>

<style type="text/css">
	.main{
		background-color: #82b4dd;
	}
	
	#ctype{
		text-align: left;
	}
	#cvalue{
		color: black;
	}
	
</style>

{% endblock head %}

{% block main %}


<div class="container-fluid card bg-light mb-1">
<form action="" method="GET" class='input-group-prepend'>
{{form.state}}
</form>
{% if dataTitle %}
<h1 style="background-color: red;color: white"></h1>
{% endif %}
<div>
{% if data %}

{% for a, b in data.items %}
{% for c, d in b.items %}

<p id="city" class='alert alert-primary m-1'><b>{{ c }}</b></p>

{% for f, e in d.items %}
{% if f != "delta" and f != "notes" %}
<button id="ctype" class="btn w-50 disabled m-1" data-placement="right" data-toggle="tooltip" title='in {{ c }}'><b>{{ f }}   :   </b><span id='cvalue'>{{e}}</span></button><br>
{% endif%}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
</div>
<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

	function ChangeUrl(page, url) {
        if (typeof (history.pushState) != "undefined") {
            var obj = { Page: page, Url: url };
            history.pushState(obj, obj.Page, obj.Url);
        } else {
            alert("Browser does not support HTML5.");
        }
    }
	$(document).ready(function(){
		$("#id_state").addClass("custom-select m-1").on('change', function() {
			ChangeUrl('terms', '?state='+$(this).val());
			// alert(location);
			// window.location = location+'?state='+$(this).val();
			location.reload(true);
		});
		$('div button[id="ctype"]').each(function(i, e){
			if ((i+1)%4 == 1){
				$(this).addClass("btn-outline-danger");
			}if ((i+1)%4 == 2){
				$(this).addClass("btn-outline-info");
			}if ((i+1)%4 == 3){
				$(this).addClass("btn-outline-dark");
			}if ((i+1)%4 == 0){
				$(this).addClass("btn-outline-success");
			}

		});

	});
</script>
</div>

{% endblock main %}