body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footerlinks{
	color: #ffffff;
	text-decoration: none !important;
}
.footerlinks:hover {
	color: #ffd800;
}

#footer1{
	background: #762b00;
	
}

#footer2{
	background: #531f00;
	position: center;
}
.alert{
  margin: 5px 10px;
}

*[data-aos="example-anim3"] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: rotate(0);
    opacity: 1;
  }
}